In [1]:
pip install SQLAlchemy psycopg2

Requirement already satisfied: SQLAlchemy in c:\users\faisa\appdata\local\programs\python\python38\lib\site-packages (1.3.24)
Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/8e/e8/c439b378efc9f2d0fd1fd5f66b03cb9ed41423f179997a935f10374f3c0d/psycopg2-2.9.9-cp38-cp38-win_amd64.whl (1.2MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 24.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
import function_module as fm

In [4]:
# create connection with postgres
conn = create_engine("postgresql://postgres:password123@localhost:5555/etl_db")
query = "SELECT * FROM public.amazon_sales_data"

In [5]:
df = pd.read_sql(query, conn)

In [6]:
#Calculate Percentage of Missing Value
fm.count_missing_value_col(df)

COLUMN NAME AND ITS PERCENTAGE OF MISSING VALUE
name: 0.0
main_category: 0.0
sub_category: 0.0
image: 0.0
link: 0.0
ratings: 0.25968362209094875
no_of_ratings: 0.25968362209094875
discount_price: 0.0
actual_price: 0.0
Unnamed: 0: 0.0

In [7]:
#Fill nu_of_ratings
df['no_of_ratings'] = df['no_of_ratings'].fillna(0)

In [8]:
#Remove Last Column
df = df.iloc[:, :-1]

In [9]:
#Check Duplicate Row
fm.count_duplicate(df)

#Remove Duplicate Row
df = fm.remove_duplicate(df)

DUPLICATE DATA CHECKING
Duplicate data: 10185 out of 100892
5202 DATA WILL BE REMOVED

In [10]:
#Check Inconsistency Value
fm.unique_val(df)

Col name have unique val as much 84713
Col main_category have unique val as much 20
["women's clothing", 'sports & fitness', "men's shoes", 'accessories', "men's clothing", 'beauty & health', 'bags & luggage', 'appliances', 'tv, audio & cameras', 'car & motorbike', "women's shoes", 'home & kitchen', 'stores', 'pet supplies', 'industrial supplies', "kids' fashion", 'toys & baby products', 'grocery & gourmet foods', 'music', 'home, kitchen, pets']
Col sub_category have unique val as much 112
Col image have unique val as much 90428
Col link have unique val as much 95441
Col ratings have unique val as much 52
Col no_of_ratings have unique val as much 4205
Col discount_price have unique val as much 9812
Col actual_price have unique val as much 8327

In [11]:
#Make a new currency column
df['currency'] = df['actual_price'].iloc[0][:1]

In [14]:
print('Unique currency val = ' + str(len(df['currency'].unique())))

Unique currency val = 1

In [13]:
#Remove currency value in price
df['actual_price'] = df['actual_price'].str.replace('₹', '')
df['discount_price'] = df['discount_price'].str.replace('₹', '')

In [15]:
#Convert price value to float
df['actual_price'] = df['actual_price'].str.replace(',', '')
df['discount_price'] = df['discount_price'].str.replace(',', '')

df['actual_price'] = df['actual_price'].replace('', float('nan'))
df['discount_price'] = df['discount_price'].replace('', float('nan'))

# Convert non-empty strings to floats
df['actual_price'] = pd.to_numeric(df['actual_price'], errors='coerce')
df['discount_price'] = pd.to_numeric(df['discount_price'], errors='coerce')

In [16]:
# Convert non-empty strings to floats
df['ratings'] = df['ratings'].str.replace(',', '')
df['no_of_ratings'] = df['no_of_ratings'].str.replace(',', '')

df['ratings'] = df['ratings'].replace('', float('nan'))
df['no_of_ratings'] = df['no_of_ratings'].replace('', 0)

df['ratings'] = pd.to_numeric(df['ratings'], errors='coerce')
df['no_of_ratings'] = pd.to_numeric(df['no_of_ratings'], errors='coerce')

In [17]:
df.dtypes

name               object
main_category      object
sub_category       object
image              object
link               object
ratings           float64
no_of_ratings     float64
discount_price    float64
actual_price      float64
currency           object
dtype: object

In [18]:
df.columns

Index(['name', 'main_category', 'sub_category', 'image', 'link', 'ratings',
       'no_of_ratings', 'discount_price', 'actual_price', 'currency'],
      dtype='object')